<p style="color: green"><%= notice %></p>

<%= render @movie %>

<div>
  <%= link_to t('helpers.submit.edit'), edit_movie_path(@movie) %> 
  <%= link_to t('activerecord.attributes.movie.buttons.back'), movies_path %>
  <%= button_to t('helpers.submit.destroy'), @movie, method: :delete, data: { confirm: 'Tem certeza de que deseja excluir este filme?' }, class: 'btn btn-danger btn-sm' %>
</div>
